# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Models & data (handled later via DVC)
data/*
!data/*.dvc
models/*
!models/*.dvc
logs/
