name: CI - Docker Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build --no-cache -t mlops-app .

      - name: Run training inside container
        run: |
          docker run --rm mlops-app

      - name: Run tests inside container
        run: |
          docker run --rm mlops-app pytest tests/ -v
